/* GLOBAL STYLES */

/* ---- >> TEXT << ---- */
.text-xl {
    font-size: 2.8rem;
}

.font-bebas {
    font-family: 'Bebas Neue', cursive;
}

/*  ---- BACKGROUNDS ---  */
.agave-bg-dark {
    background-color: #212121;
}

/* Links */
.link {
    text-decoration: none;
    color: #757575;
}
.link:hover {
    color: #e9c200;
    margin-left: 5px;
    transition: 500ms;
}

.link-positive {
    text-decoration: none;
    color: #ffffff;
}
.link-positive:hover {
    color: #e9c200;
    margin-left: 5px;
    transition: 500ms;
}