/* GLOBAL STYLES */

/* ---- >> TEXT << ---- */
.text-xl {
    font-size: 2.8rem;
}

.font-bebas {
    font-family: 'Bebas Neue', cursive;
}

/*  ---- BACKGROUNDS ---  */
.agave-bg-dark {
    background-color: #212121;
}

.color-primary {
    color: #00d8a6;
}

.color-secondary {
  color: #213430;
}

/* Links */
.link {
    text-decoration: none;
    color: #757575;
}
.link:hover {
    color: #00d8a6;
    margin-left: 5px;
    transition: 500ms;
}

.link-positive {
    text-decoration: none;
    color: #ffffff;
}
.link-positive:hover {
    color: #00d8a6;
    margin-left: 5px;
    transition: 500ms;
}


/*  ---- CUSTOMS ---  */
.title-layer {
  margin-top: 4.1rem;
  background-color: #fff;
  z-index: 10;
}

.content-layer {
  margin-top: 10.2rem;
}

.cursor-pointer {
  cursor: pointer;
}

.card-stat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #b6e2d9;
  box-shadow: 0 0.5rem 1rem #74747426;
  border-radius: 1.5rem;
  text-align: center;
}


/*  ---- CUSTOM COMPONENTS ---  */
.card-custom {
  background-color: #e4e4e4;
  transition: 500ms;
  cursor: pointer;
  border-radius: 1.5rem;
}
.card-custom:hover {
  background-color: #d2d2d2;
  transition: 500ms;
}


/*  ---- BUTTONS ---  */
/* FUCSIA */
.btn-primary {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #00d8a6;
    border-color: #00d8a6;
    color: #fff;
  }
  .btn-primary:hover {
    background-color: #199578;
    border-color: #199578;
    color: #fff;
  }
  .btn-primary:focus{
    box-shadow: 0 0 0 4px #c4f1e6;
    background-color: #0e5b49;
    border-color: #0e5b49;
  }
  .btn-primary:active {
    background-color: #0e5b49;
    border-color: #0e5b49;
    box-shadow: 0 0 0 4px #c4f1e6;
    color: #fff;
  }
  .btn-primary:active:focus {
    box-shadow: 0 0 0 4px #c4f1e6;
  }
  .btn-primary:disabled {
    background-color: #00d8a6;
    border: none;
  }
  .btn-primary:disabled:hover {
    background-color: #00d8a6;
    border: none;
  }
  .btn-primary:disabled:active {
    box-shadow: none;
  }
  
  /* OUT LINE FUCSIA */
  .btn-outline-primary {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-color: #00d8a6;
    background-color: #FFF;
    color: #00d8a6;
  }
  .btn-outline-primary:hover {
    background-color: #00d8a6;
    border-color: #00d8a6;
    color: #fff;
  }
  .btn-outline-primary:focus {
    box-shadow: 0 0 0 4px #c4f1e6;
    color: #00d8a6;
  }
  .btn-outline-primary:active {
    background-color: #0e5b49;
    border-color: #0e5b49;
  }
  .btn-outline-primary:active:focus {
    box-shadow: 0 0 0 4px #c4f1e6;
  }
  .btn-outline-primary:focus:hover {
    color: #fff;
  }
  .btn-outline-primary:disabled {
    border-color: #00d8a6;
    background-color: #FFF;
    color: #00d8a6;
  }
  .btn-outline-primary:disabled:hover {
    border-color: #00d8a6;
    background-color: #FFF;
    color: #00d8a6;
  }
  .btn-outline-primary:disabled:active {
    box-shadow: none;
  }