/* GLOBAL STYLES */

/* ---- >> TEXT << ---- */
.text-xl {
    font-size: 2.8rem;
}

.font-bebas {
    font-family: 'Bebas Neue', cursive;
}

/*  ---- BACKGROUNDS ---  */
.agave-bg-dark {
    background-color: #212121;
}

.color-primary {
    color: #00d8a6;
}

.color-secondary {
  color: #213430;
}

/* Links */
.link {
    text-decoration: none;
    color: #757575;
}
.link:hover {
    color: #00d8a6;
    margin-left: 5px;
    transition: 500ms;
}

.link-positive {
    text-decoration: none;
    color: #ffffff;
}
.link-positive:hover {
    color: #00d8a6;
    margin-left: 5px;
    transition: 500ms;
}


/*  ---- CUSTOMS ---  */
.title-layer {
  margin-top: 4.1rem;
  background-color: #fff;
  z-index: 10;
}

.content-layer {
  margin-top: 10.2rem;
}

.cursor-pointer {
  cursor: pointer;
}

.card-stat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #b6e2d9;
  box-shadow: 0 0.5rem 1rem #74747426;
  border-radius: 1.5rem;
  text-align: center;
  transition: 650ms;
}

.card-stat-gray {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #e4e4e4;
  box-shadow: 0 0.5rem 1rem #74747426;
  border-radius: 1.5rem;
  text-align: center;
  transition: 650ms;
}

/*  ---- CUSTOM COMPONENTS ---  */
.card-custom {
  background-color: #e4e4e4;
  transition: 500ms;
  cursor: pointer;
  border-radius: 1.5rem;
}
.card-custom:hover {
  background-color: #d2d2d2;
  transition: 500ms;
}

.station-card {
  padding: 3rem;
  border-radius: 1.5rem;
  transition: 500ms;
  box-shadow: 0 0.5rem 1rem #4343432c;
  cursor: pointer;
}
.station-card:hover {
  padding: 2.8rem;
  background-color: #ededed;
  transition: 500ms;
}
.station-card:focus {
  padding: 2.8rem;
  background-color: #e0e0e0;
  transition: 500ms;
}
.station-card-focus {
  padding: 2.8rem;
  background-color: #dedede;
  transition: 500ms;
}


/*  ---- BUTTONS ---  */
/* FUCSIA */
.btn-primary {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #00d8a6;
    border-color: #00d8a6;
    color: #fff;
  }
  .btn-primary:hover {
    background-color: #199578;
    border-color: #199578;
    color: #fff;
  }
  .btn-primary:focus{
    box-shadow: 0 0 0 4px #c4f1e6;
    background-color: #0e5b49;
    border-color: #0e5b49;
  }
  .btn-primary:active {
    background-color: #0e5b49;
    border-color: #0e5b49;
    box-shadow: 0 0 0 4px #c4f1e6;
    color: #fff;
  }
  .btn-primary:active:focus {
    box-shadow: 0 0 0 4px #c4f1e6;
  }
  .btn-primary:disabled {
    background-color: #00d8a6;
    border: none;
  }
  .btn-primary:disabled:hover {
    background-color: #00d8a6;
    border: none;
  }
  .btn-primary:disabled:active {
    box-shadow: none;
  }
  
  /* OUT LINE FUCSIA */
  .btn-outline-primary {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-color: #00d8a6;
    background-color: #FFF;
    color: #00d8a6;
  }
  .btn-outline-primary:hover {
    background-color: #00d8a6;
    border-color: #00d8a6;
    color: #fff;
  }
  .btn-outline-primary:focus {
    box-shadow: 0 0 0 4px #c4f1e6;
    color: #00d8a6;
  }
  .btn-outline-primary:active {
    background-color: #0e5b49;
    border-color: #0e5b49;
  }
  .btn-outline-primary:active:focus {
    box-shadow: 0 0 0 4px #c4f1e6;
  }
  .btn-outline-primary:focus:hover {
    color: #fff;
  }
  .btn-outline-primary:disabled {
    border-color: #00d8a6;
    background-color: #FFF;
    color: #00d8a6;
  }
  .btn-outline-primary:disabled:hover {
    border-color: #00d8a6;
    background-color: #FFF;
    color: #00d8a6;
  }
  .btn-outline-primary:disabled:active {
    box-shadow: none;
  }

/* QR Code */
.qr-background {
  background-color: rgba(24, 24, 24, 0.432);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 100;
}

.qr-modal {
  background-color: rgb(240, 240, 240);
  position: absolute;
  top: calc(50% - 175px);
  left: calc(50% - 150px);
  height: 300px;
  width: 300px;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(161, 161, 161, 0.61);
  z-index: 1000;
}

.qr-code {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  width: 230px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.151);
  border: 1px solid rgb(182, 182, 182);
  border-radius: 0.8rem;
}

.qr-reader {
  z-index: 6;
  position: absolute;
  top: 10%;
  left: 10%;
}

#flipCamera {
  z-index: 99;
  color: #fff;
  position: absolute;
  bottom: 13%;
  right: 12%;
}