.sidebar-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 15rem;
    background-color: #00be92;
    height: 100vh;
    z-index: 1000;
    display: none;
    transition: 650ms;
}

.sidebar-close {
    position: fixed;
    top: 0;
    left: -15rem;
    background-color: #00be92;
    height: 100vh;
    z-index: 100;
    display: none;
    transition: 650ms;
}

.sidebar ul a {
    text-decoration: none;
    color: black;
}