footer {
    z-index: 10;
    position: relative;
    width: 100%;
    background-color: #133930;
    color: white;
    font-size: 13px;
}

footer .footer-logo {
    max-width: 150px;
}

footer a {
    text-decoration: none;
}
footer ul {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
}

footer ul a, footer ul li {
    list-style: none;
    text-decoration: none;
    color: rgb(169, 169, 169);
}
footer ul a:hover {
    color: #00be92;
    margin-left: 5px;
    transition: 500ms;
}