@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&display=swap');

html, body {
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
  background-color: #fff;
}

#root {
  min-height: 100%;
}